language: objective-c

before_install:
    - gem update cocoapods --no-document
    - pod --version
    - cp NovaCamera/Config.sample.h NovaCamera/Config.h

env:
  matrix:
    - SDK=iphonesimulator
    #- SDK=iphonesimulator8.0

script:
    - xctool -workspace NovaCamera.xcworkspace -sdk $SDK -scheme NovaCamera build
